.froggytimer-buttonbox {
  display: flex;
  gap: 0.5rem;
}

.froggytimer-header {
  font-size: 3rem;
}

.froggytimer-timer {
  font-size: 4rem;
  height: 4rem;
}

@media only screen and (min-width: 1200px){
  .froggytimer-timer {
    font-size: 8rem;
    height: 8rem;
  }
}